<h2>Add a Venue:</h2>

<form action="/new-venue" method="post">
  <div class="form-group">
    <input required placeholder="New Venue Name" type="text" class="form-control" name="venue-name" id="venue-name">
    <input required placeholder="New Venue City" type="text" class="form-control" name="venue-city" id="venue-city">
    <input required placeholder="New Venue State" type="text" class="form-control" name="venue-state" id="venue-state">
  <button id="submit-venue" type="submit" class="btn btn-info">Submit</button>
</form>
